@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #4285f4;
}

.wrapper {
  width: 430px;
  background: #fff;
  border-radius: 10px;
}

.wrapper h1 {
  font-size: calc(25 / 16 * 1rem);
  font-weight: 500;
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
}

.wrapper .content {
  margin: 25px 25px 35px;
}
